.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--color-bg-2);
}

.form-wrapper {
  width: 360px;
  padding: 40px;
  background: var(--color-bg-1);
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
}

.title {
  font-size: 24px;
  font-weight: 500;
  color: var(--color-text-1);
  line-height: 32px;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: var(--color-text-3);
  line-height: 22px;
}

.error-msg {
  height: 32px;
  line-height: 32px;
  color: rgb(var(--red-6));
}
